In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/nlp_analise_sentimento/refs/heads/main/Dados/dataset_avaliacoes.csv')

In [4]:
df.head()

,ID_avaliacao,avaliacao,nota,sentimento
0,81841,"Esse smartphone superou minhas expectativas, r...",5,positivo
1,28031,o cheiro e muito desagradavel!! pra quem se in...,2,negativo
2,91332,"Eu fiz a compra a loja não entregou o produto,...",1,negativo
3,110045,"Atendeu minhas expectativas, só achei a luz ru...",4,positivo
4,36929,"Gostei muito, só achei que ficou a desejar a q...",5,positivo

In [5]:
df.shape

(15501, 4)

In [6]:
df.info

<bound method DataFrame.info of        ID_avaliacao                                          avaliacao  nota  \
0             81841  Esse smartphone superou minhas expectativas, r...     5
1             28031  o cheiro e muito desagradavel!! pra quem se in...     2
2             91332  Eu fiz a compra a loja não entregou o produto,...     1
3            110045  Atendeu minhas expectativas, só achei a luz ru...     4
4             36929  Gostei muito, só achei que ficou a desejar a q...     5
...             ...                                                ...   ...
15496         61836  Bommm.mmmmmmmmmmmmmmmm Mmmmmmmmmmmmmmmmmmmmmmm...     4
15497         19503  O produto seca o cabelo, mas tem que passar di...     2
15498         52712  Muito simples de mexer, o manual explica direi...     5
15499         10874  Produto muito bom, exatamente como na internet...     4
15500        107286  É incrível como voce é abandonado dentro de su...     5

      sentimento
0       positivo
1       negativo
2       negativo
3       positivo
4       positivo
...          ...
15496   positivo
15497   negativo
15498   positivo
15499   positivo
15500   positivo

[15501 rows x 4 columns]>

In [7]:
df.value_counts('sentimento')

sentimento
positivo    7890
negativo    7611
Name: count, dtype: int64

In [ ]:
print('Positiva \n')
df.avaliacao[0]

Positiva

'Esse smartphone superou minhas expectativas, recomendo'

In [10]:
print('Negativo \n')
df.avaliacao[2]

Negativo

'Eu fiz a compra a loja não entregou o produto, a compra foi feita no cartão de credito e ate o momento a loja também nao me devolveu o valor da compra.'

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

texto = ['Comprei um produto ótimo', 'Comprei um produto ruim']


vetorizar = CountVectorizer()


bag_of_words = vetorizar.fit_transform(texto)

In [14]:
bag_of_words

<2x5 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [15]:
matriz_esparsa = pd.DataFrame.sparse.from_spmatrix(bag_of_words, columns=vetorizar.get_feature_names_out())

In [16]:
matriz_esparsa

   comprei  produto  ruim  um  ótimo
0        1        1     0   1      1
1        1        1     1   1      0

In [17]:
vetorizar = CountVectorizer(lowercase=False)
bag_of_words = vetorizar.fit_transform(df.avaliacao)
print(bag_of_words.shape)

(15501, 23352)

In [18]:
vetorizar = CountVectorizer(lowercase=False, max_features=50)
bag_of_words = vetorizar.fit_transform(df.avaliacao)
print(bag_of_words.shape)

(15501, 50)

In [20]:
matriz_esparsa_avaliacoes = pd.DataFrame.sparse.from_spmatrix(bag_of_words,columns=vetorizar.get_feature_names_out())
matriz_esparsa_avaliacoes

,Não,Produto,ainda,antes,as,até,bem,bom,chegou,com,...,qualidade,que,recebi,recomendo,se,sem,tem,um,uma,veio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,1,2,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
15497,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
15498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15499,0,1,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
15500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
from sklearn.model_selection import train_test_split

x_treino,x_test, y_treino, y_test = train_test_split(bag_of_words,df.sentimento, random_state=4978)

In [24]:
from sklearn.linear_model import LogisticRegression

regressao_logistica = LogisticRegression()

regressao_logistica.fit(x_treino,y_treino)

acuracia = regressao_logistica.score(x_test,y_test)

print(acuracia)

0.7982456140350878